header, footer {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

main {
  padding: 2em;
}

main img {
  max-width: 100%;
}
main .photo-title {
  color: rgb(37, 65, 243);
}
.welcome {
  padding-inline-start: 30px;
    color: rebeccapurple;
}
.App {
  text-align: center;
}